target/
shader-preprocessed-wgsl/
src/web/generated_shader_map.rs
GPU-Frame-Capture/
web-test/
WGPU_TRACE/
Cargo.lock
**/*.rs.bk
*/.DS_STORE
.idea/

**/Carthage
**/Pods
**/Podfile.lock

**/*.pbxuser
!default.pbxuser
**/xcuserdata

**/node_modules
**/dist
dist-ssr
*.local
*.log
/pkg
/wasm-pack.log
package-lock.json